body { font-family: 'Lato'; font-style: normal; font-weight: 300; }
h1, h2, h3, h4, h5, h6, strong, .block-main-menu li a, .block-superfish li a { font-family: 'Lato'; font-style: normal; font-weight: normal; }
